<section>
    <ng-container>
        <!-- *ngFor="let product of productsFromDB" -->
      <div item *ngIf="product2.id === desiredProductId">
        <p class="text-color" style="padding-left: 570px; font-size: 20px">{{ product2.Nume }} - {{ product2.Pret }} RON</p>
        <img src="{{ product2.Imagine }}" alt="img1" height="500" width="500" class="img2">
        <p class="text-color" style="padding-left: 570px; font-size: 20px">{{ product2.Detalii }}</p>
      </div>
    </ng-container>
  </section>